@page "/Admin/Roles"
@using Microsoft.AspNetCore.Identity
@using MMO.Data
@inject UserManager<ApplicationUser> UserManager

<PageTitle>Roles</PageTitle>
<h3>RoleList</h3>

<h4>@RoleName</h4>

<MudDataGrid Items="Administrators">
    <NoRecordsContent><MudText Typo="Typo.h4">No Admins</MudText></NoRecordsContent>
    <Columns>
        <PropertyColumn Property="@(c => c.Id)" Sortable="true"/>
        <PropertyColumn Property="@(c => c.UserName)" Sortable="true"/>
        <PropertyColumn Property="@(c => c.Email)" Sortable="true"/>
    </Columns>
</MudDataGrid>

@code {
    private const string RoleName = "Admin";
    public IQueryable<ApplicationUser> Administrators = null!;

    protected override async Task OnInitializedAsync()
    {
        Administrators = (await UserManager.GetUsersInRoleAsync(RoleName)).AsQueryable();
    }

}