@page "/Admin/Server"
@using MMO.Game.Data
@using MMO.Data
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize("Admin")]

@inject ApplicationDbContext DbContext

<PageTitle>Server</PageTitle>
<h3>Server</h3>

<MudDataGrid ShowMenuIcon="true"
             @ref="_grid"
             T="GameServer"
             Items="_items"
             Filterable="true">
    <NoRecordsContent>
        <MudText Typo="Typo.h4">No Server</MudText>
    </NoRecordsContent>
    <Columns>
        <PropertyColumn Property="c => c.InstanceHostId" Sortable="true" Groupable="true"/>
        <PropertyColumn Property="c => c.Port" Sortable="true"/>
        <PropertyColumn Property="c => c.Online">
            <CellTemplate>
                <MudIcon Icon="@Icons.Material.Filled.Circle" Color="context.Item.Online ? Color.Success : Color.Error"></MudIcon>
            </CellTemplate>
        </PropertyColumn>
        <PropertyColumn Property="c => c.LastHeartbeat"></PropertyColumn>
        <PropertyColumn Title="Type" Property="c => c.GameServerDefinition.GameServerType" Sortable="true" Groupable="true"/>
        <PropertyColumn Title="Map" Property="c => c.GameServerDefinition.MapName" Sortable="true" Groupable="true"/>
    </Columns>
</MudDataGrid>

@code {

    private MudDataGrid<GameServer> _grid = null!;
    private IQueryable<GameServer> _items = null!;

    protected override void OnInitialized()
    {
        _items = DbContext.GameServers.Include(server => server.GameServerDefinition).AsNoTrackingWithIdentityResolution();
    }

}