@page "/Admin/Users"
@using Microsoft.AspNetCore.Identity
@using MMO.Data
@using MMO.Game.Data
@inject UserManager<ApplicationUser> UserManager
@inject ApplicationDbContext DbContext
@inject NavigationManager NavigationManager

<PageTitle>Users</PageTitle>
<h3>Users</h3>

<MudDataGrid Items="_users">
    <NoRecordsContent><MudText Typo="Typo.h4">No Server</MudText></NoRecordsContent>
    <Columns>
        <PropertyColumn Property="arg => arg.Id"></PropertyColumn>
        <PropertyColumn Property="arg => arg.UserName"></PropertyColumn>
        <PropertyColumn Property="arg => arg.Email"></PropertyColumn>
        <TemplateColumn>
            <CellTemplate>
                <MudButton
                    Size="Size.Small"
                    Variant="Variant.Filled"
                    Color="Color.Primary"
                    OnClick="@(() => AddCharacter(context.Item))">Add Character</MudButton>
            </CellTemplate>
        </TemplateColumn>
    </Columns>
</MudDataGrid>

@code
{
    //DataGrid<ApplicationUser> myGrid;
    IQueryable<ApplicationUser> _users = null!;

    protected override void OnInitialized()
    {
        _users = UserManager.Users;
        /*var userRoles = DbContext.UserRoles.Join(DbContext.Roles,
            userRole => userRole.RoleId,
            role => role.Id,
            (userRole, applicationRole) => new { userRole.UserId, applicationRole.Name });
        Users = DbContext.Users.OrderBy(dto => dto.Id).GroupJoin(userRoles,
            user => user.Id,
            role => role.UserId,
            (user, roles) => new UserListDto
                (user.Id, user.UserName, user.Email, roles.Select(role => role.Name)));*/
    }
    
    public async Task AddCharacter(ApplicationUser context)
    {
        DbContext.Characters.Add(new Character
        {
            AccountId = context.Id,
            Name = context.UserName ?? "Default Name"
        });
        await DbContext.SaveChangesAsync();
        //await myGrid.RefreshDataAsync();
        NavigationManager.NavigateTo("Admin/Characters");
    }
}