@implements IDisposable

@inject NavigationManager NavigationManager

<MudNavMenu>
    <MudNavLink Href="/" Match="NavLinkMatch.All">Home</MudNavLink>
    <MudNavLink Href="/auth" Match="NavLinkMatch.All">Auth Required</MudNavLink>
    <AuthorizeView Roles="Admin">
        <Authorized>
            <MudNavGroup Title="Admin" Expanded="true">
                <MudNavLink Href="/Admin/Users" Match="NavLinkMatch.All">User</MudNavLink>
                <MudNavLink Href="/Admin/Roles" Match="NavLinkMatch.All">Roles</MudNavLink>
                <MudNavLink Href="/Admin/GameServerDefinitions" Match="NavLinkMatch.All">Server Definitions</MudNavLink>
                <MudNavLink Href="/Admin/Hosts" Match="NavLinkMatch.All">Server Hosts</MudNavLink>
                <MudNavLink Href="/Admin/Server" Match="NavLinkMatch.All">Server</MudNavLink>
                <MudNavLink Href="/Admin/Characters" Match="NavLinkMatch.All">Character</MudNavLink>
            </MudNavGroup>
        </Authorized>
    </AuthorizeView>
    <AuthorizeView>
        <Authorized>
            <MudNavLink Href="/Account/Manage" Match="NavLinkMatch.All">@context.User.Identity?.Name</MudNavLink>
            <MudNavLink ActiveClass="" Match="NavLinkMatch.All">
                <form action="Account/Logout" method="post">
                    <AntiforgeryToken/>
                    <input type="hidden" name="ReturnUrl" value="@currentUrl"/>
                    <button type="submit" class="nav-link">
                        <i class="bi bi-arrow-bar-left" aria-hidden="true"></i> Logout
                    </button>
                </form>
            </MudNavLink>
        </Authorized>
        <NotAuthorized>
            <MudNavLink Href="/Account/Register" Match="NavLinkMatch.All">Register</MudNavLink>
            <MudNavLink Href="/Account/Login" Match="NavLinkMatch.All">Login</MudNavLink>
        </NotAuthorized>
    </AuthorizeView>
</MudNavMenu>


@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }

}