@attribute [RenderModeAuto]
@page "/Chat"
@using MMOPortal.Shared;
@inject IChatService ChatService
@implements IDisposable

<h3>Chat</h3>

@foreach (var message in _messages)
{
    <div>
        @message
    </div>
}
<InputText @bind-Value="_newMessage"></InputText>
<button @onclick="SendChat">Send</button>

@code {
    private string _newMessage = "";
    private IReadOnlyList<string> _messages = Array.Empty<string>();
    private IDisposable? _subscription;

    protected override void OnInitialized()
    {
        _subscription = ChatService.MessagesObservable.Subscribe(response =>
        {
            _messages = response.Messages;
            InvokeAsync(StateHasChanged);
        });
    }

    private void SendChat()
    {
        if (_newMessage.Length > 0)
        {
            ChatService.SendChatMessage(new SendChatMessageParams { Message = _newMessage });
            _newMessage = string.Empty;
        }
    }

    public void Dispose()
    {
        _subscription?.Dispose();
    }

}