@using Microsoft.AspNetCore.Components.QuickGrid
@typeparam TGridItem
@attribute [CascadingTypeParameter(nameof(TGridItem))]

<QuickGrid
    Items="Items"
    Pagination="@pagination"
    Virtualize="true">
    @ChildContent
</QuickGrid>
<Paginator State="@pagination"/>

<div class="page-size-chooser">
    Items per page:
    <select @bind="@pagination.ItemsPerPage">
        <option>5</option>
        <option>10</option>
        <option>20</option>
        <option>50</option>
    </select>
</div>

@code {
    [Parameter]
    public IQueryable<TGridItem> Items { get; set; }
    
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    
    PaginationState pagination = new PaginationState { ItemsPerPage = 10 };
}
